<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>



<div class="container">
    <h1>Coronavirus Tracker</h1>
    <p>You can view the list of all cases being reported globally</p>

    <div class="jumbotron jumbotron-fluid bg-secondary text-white p-4">
        <h1 class="display-4" th:text="${totalNewCases}"></h1>
        <p class="lead">Total number of new cases worldwide</p>
        <hr class="my-4">
        <p>
            <span>Total number of reported cases as of today</span>
            <span th:text="${totalReportedCases}"></span>
        </p>
    </div>

    <table class="table">
        <tr>
            <th>Country</th>
            <th>State</th>
            <th>Total Cases Reported</th>
            <th>New Cases</th>
        </tr>
        <tr th:each="locationStat : ${locationStats}">
            <td th:text="${locationStat.country}"></td>
            <td th:text="${locationStat.state}"></td>
            <td th:text="${locationStat.latestTotalCases}">0</td>
            <td th:text="${locationStat.numberOfNewCases}">0</td>
        </tr>
    </table>
</div>

</body>

</html>